<div class="login-page">
  <%= link_to "Crime Report | KE", root_path, class: "login-page-brand-link" %>
  <h2 class="login-page-form-title">Sign up for an account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field input-block">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-text", required: true %>
      <span class="placeholder">Email</span>
    </div>

    <div class="field input-block input-block-password">
      
      <%= f.password_field :password, autocomplete: "new-password", class: "input-text", required: true %>
      <span class="placeholder">Password</span>
    </div>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />

    <div class="field input-block input-block-password">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-text password-confirm", required: true %>
      <span class="placeholder">Password Confirmation</span>
    </div>

    <div class="actions login-page-submit-block">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

