<nav class="font-sans flex items-center justify-between flex-wrap p-6">
  <div class="flex items-center flex-shrink-0 text-black mr-6">
    <%= link_to "Crime Report | KE Admin", admin_dashboard_path, class: "font-semibold text-2xl text-green-800 tracking-tight" %>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to "Data Dashboard", admin_data_path, class: "block text-xl mt-4 lg:inline-block lg:mt-0 text-green hover:text-green-600 ml-28 mr-28" %>
      <%= link_to "Reports", admin_dashboard_path, class: "block text-xl mt-4 lg:inline-block lg:mt-0 text-green hover:text-green-600 ml-28 mr-28" %>

    </div>
    <div>
      <%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: "text-xl hover:text-red-500" %>
    </div>
  </div>
</nav>

<div class="ml-6 mt-10">
  <%= link_to 'Generate CSV Report', generate_csv_admin_reports_path(format: :csv), class: "bg-green-600 inline-block text-xl px-8 py-4 mr-8 leading-none border rounded text-white border-black" %>
  <%= link_to 'Generate PDF Report', generate_pdf_admin_reports_path(format: :pdf), class: "bg-green-600 inline-block text-xl px-8 py-4 mr-8 leading-none border rounded text-white border-black" %>
</div>
<div class="flex justify-start ml-6 mt-24">
  <div class="w-full overflow-x-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
  <thead class="ltr:text-left rtl:text-right">
    <tr>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-xl">Title</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-xl">Description</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-xl">Type of Crime</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-xl">Phone Number</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-xl">Status</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-xl">Reported</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-xl">Longitude</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-xl">Latitude</th>
      <!-- Add other headers as needed -->
      <th class="px-4 py-2"></th>
    </tr>
  </thead>

  <tbody class="divide-y divide-gray-200">
    <% @reports.each do |report| %>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"><%= report.title.present? ?  report.title : 'n/a'%></td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= report.description.present? ?  report.description : 'n/a' %></td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= report.type_of_crime ?  report.type_of_crime : 'n/a' %></td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= report.phone_number.present? ?  report.phone_number : 'n/a' %></td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          <%= report.status.present? ?  report.status : 'n/a' %>
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= report.created_at ? time_ago_in_words(report.created_at) : 'n/a' %></td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= report.longitude ?  report.longitude : 'n/a' %></td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700"><%= report.latitude ?  report.longitude : 'n/a' %></td>
        <!-- Add other columns for report attributes as needed -->
        <td class="whitespace-nowrap px-4 py-2 flex">
          <%= link_to 'Edit', edit_report_path(report), class: 'inline-block mr-4 rounded bg-yellow-500 px-4 py-2 text-xs font-medium text-white hover:bg-yellow-600' %>
          <%= form_with(model: report, method: :delete, url: report_path(report), data: { confirm: 'Are you sure?' }) do |form| %>
            <%= form.submit 'Delete', class: 'inline-block rounded bg-red-600 px-4 py-2 text-xs border-none font-medium text-white hover:bg-red-700' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>