<nav class="font-sans flex items-center justify-between flex-wrap p-6">
  <div class="flex items-center flex-shrink-0 text-black mr-6">
    <%= link_to "Crime Report | KE Admin", admin_dashboard_path, class: "font-semibold text-2xl text-green-800 tracking-tight" %>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to "Data Dashboard", admin_data_path, class: "block text-xl mt-4 lg:inline-block lg:mt-0 text-green hover:text-green-600 ml-28 mr-28" %>
      <%= link_to "Reports", admin_dashboard_path, class: "block text-xl mt-4 lg:inline-block lg:mt-0 text-green hover:text-green-600 ml-28 mr-28" %>

    </div>
    <div>
      <%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: "text-xl hover:text-red-500" %>
    </div>
  </div>
</nav>

<div class="flex flex-col">
    <h1>Edit a Report</h1>

        <%= form_with(model: @report, local: true) do |form| %>

        <%= form.label :title %> <br>
        <%= form.text_field :title, class: "" %>

        <%= form.label :description %><br>
        <%= form.text_area :description, class: "", style: "width: 300px; height: 250px;" %>

        <%= form.label :photo %><br>
        <%= form.file_field :photo %>


        <%= form.label :type_of_crime %>
        <%= form.select :type_of_crime, options_for_select(@crimes) %>


        <%= form.label :phone_number %><br>
        <%= form.telephone_field :phone_number, class: "" %>

        <%= form.hidden_field  :status, class: "", readonly: true, value: "pending"  %>
        <%= form.hidden_field  :latitude, class: "", readonly: true  %>
        <%= form.hidden_field  :longitude, class: "", readonly: true  %>

        <%= form.submit 'Edit Report', class: "" %>
    <% end %>
</div>

