<div class="logged-in-nav">
  <div class="logged-in-nav-left-side">
    <%= link_to "Crime Report | KE", new_report_path, class: "logged-in-nav-brand-link" %>
    <%= link_to "Report a crime", new_report_path, class: "logged-in-nav-brand-link", style: "font-size: 16px;", data: { turbo_frame: "reports-area" } %>
    <%= link_to "Check Reports", reports_path, class: "logged-in-nav-brand-link", style: "font-size: 16px;",  data: { turbo_frame: "reports-area" } %>
    <%= link_to "Data Dashboard", dashboard_path, class: "logged-in-nav-brand-link", style: "font-size: 16px;", data: { turbo_frame: "page-template" } %>
  </div>
  <div class="logged-in-nav-right-side">
    <% if user_signed_in? %>
      <p class="logged-in-nav-right-side-link logged-in-nav-right-side-link-spacing">Logged In: <%= current_user.email %></p>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "logged-in-nav-right-side-link" %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: "logged-in-nav-right-side-link logged-in-nav-right-link-spacing" %>
    <% end %>
  </div>
</div>

<turbo-frame id="page-template">
<div class="side-panel-with-map">
  <div class="report-form-container">
    <turbo-frame id="reports-area">
      <div>
          <div class="reports-list">
            <h1>All Reports</h1>
            <div>
              <% @reports.each do |report| %>
                <div class="report-card">
                  <%= link_to report.title, report_path(report), style: "font-weight: bold; font-size: 18px" %>
                  <p><%= report.type_of_crime %></p>
                  <p><%= report.created_at.strftime("%B %d, %Y") %></p>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    </turbo-frame>
  </div>
  <div data-controller="map" id="map"></div>
</div>
</turbo-frame>