<!DOCTYPE html>
<html>
  <head>
    <title>Crime Report | Ke</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Protest+Revolution&family=Work+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <%= stylesheet_link_tag "normalize", media: "all" %>
    <%= stylesheet_link_tag "style", media: "all" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if !devise_controller? && (!current_page?(new_report_path) && !current_page?(reports_path)) %>
        <!-- Render navigation only if not on login or signup pages -->
        <nav>
            <div class="nav-left-side">
                <%= link_to "Crime Report | KE", root_path, class: "nav-brand-link" %>
            </div>
            <div class="nav-right-side">
                <%= link_to 'Report a crime', new_report_path, class: "nav-right-side-link nav-right-link-spacing" %>
                <%= link_to "Check Reports", reports_path, class: "nav-right-side-link nav-right-link-spacing" %>
                <%= link_to "About", about_path, class: "nav-right-side-link nav-right-link-spacing" %>
                <% if user_signed_in? %>
                     <p class="nav-right-side-link nav-right-link-spacing">Welcome, <%= current_user.email %></p>
                     <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-right-side-link" %>
                <% else %>
                    <%= link_to 'Sign in', new_user_session_path, class: "nav-right-side-link nav-right-link-spacing sign-in-btn" %>
                    <%
=begin%>
 <%= link_to 'Sign up', new_user_registration_path, class: "nav-right-side-link" %> 
<%
=end%>
                <% end %>
            </div>
        </nav>
    <% end %>
    
    <%= yield %>
  </body>
</html>
